<!DOCTYPE html><html><head><meta charset='utf-8'><link rel='stylesheet' href='/public/css/global.css'><title>Not found</title></head><body><header class='header'><a class='logo' href='/'>SAOCLAO</a></header><main class='container'><h1>404</h1><p>Page not found.</p></main></body></html>
